<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/secure/contracts']" class="button-back" color="accent" mat-mini-fab>
                    <mat-icon>arrow_circle_left</mat-icon>
                </a>
                {{ isEdit ? 'Detalle de contrato' : 'Nuevo contrato' }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="contractForm">
                <div class="form-container">
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Clave</mat-label>
                            <input matInput formControlName="clave" type="text" required />
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Folio</mat-label>
                            <input matInput formControlName="folio" type="number" maxlength="6" max="999999" required />
                            <mat-error>
                                <error-message nomCampo="Folio"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3" *ngIf="!isEdit">
                        <mat-checkbox formControlName="assign" color="primary" (click)="assignNumber()">Asignar</mat-checkbox>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Cliente</mat-label>
                            <mat-select formControlName="idCliente" required>
                                <mat-option *ngFor="let client of clients"
                                    [value]="client.idCliente">{{client.nombre}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <error-message nomCampo="Cliente"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3"><mat-form-field appearance="outline">
                            <mat-label>Vigencia del Contrato</mat-label>
                            <mat-date-range-input [rangePicker]="picker" required>
                                <input formControlName="fContrato" matStartDate placeholder="Fecha Contrato" required>
                                <input formControlName="fVigencia" matEndDate placeholder="Fecha Vigencia" required>
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Representante Cliente</mat-label>
                            <mat-select formControlName="idRepresentante" required>
                                <mat-option *ngFor="let representative of representatives"
                                    [value]="representative.idRepresentante">{{representative.nombre}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <error-message nomCampo="Representante Cliente"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Representante Unidad</mat-label>
                            <mat-select formControlName="idFuncionario" required>
                                <mat-option *ngFor="let official of officials"
                                    [value]="official.idFuncionario">{{official.nombre}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <error-message nomCampo="Representante Unidad"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <input matInput formControlName="observaciones" type="text" />
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-checkbox formControlName="active" color="primary">Activo</mat-checkbox>
                    </div>
                    <div class="form-cell-1" *ngIf="isEdit">
                        <button matTooltip="Exportar" class="export-pdf" mat-fab extended (click)="downloadPdf()">
                            <mat-icon>get_app</mat-icon>PDF
                        </button>
                    </div>
                    <div class="form-cell-2" *ngIf="isEdit">
                        <button matTooltip="Exportar" class="export-word" mat-fab extended (click)="downloadWord()">
                            <mat-icon>get_app</mat-icon>WORD
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
        </mat-card-footer>
    </mat-card>
</div>