<mat-card>
  <mat-card-content *ngIf="isListMode">
    <a (click)="isListMode = !isListMode" class="float-left" color="primary" mat-fab extended>
      Nuevo
    </a>
    <div class="float-right">
      <mat-form-field class="table-filter" appearance="outline">
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!isListMode">
    <form [formGroup]="clientRepresentativeForm">
      <div class="form-container">
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="idRepresentante" appCurrencyMask type="text" />
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" type="text" required />
            <mat-error>
              <error-message nomCampo="Nombre"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Testimonio / Acta</mat-label>
            <input matInput formControlName="acta" type="text" required />
            <mat-error>
              <error-message nomCampo="Testimonio / Acta"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>No. Notaria</mat-label>
            <input matInput formControlName="notaria" type="text" required />
            <mat-error>
              <error-message nomCampo="No. Notaria"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Notario</mat-label>
            <input matInput formControlName="notario" type="text" required />
            <mat-error>
              <error-message nomCampo="Notario"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Lugar Notaria</mat-label>
            <input matInput formControlName="lugar" type="text" required />
            <mat-error>
              <error-message nomCampo="Lugar Notaria"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>De Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fNotaria" required />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <error-message [control]="form.fNotaria" nomCampo="De Fecha"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Identificaci&oacute;n</mat-label>
            <mat-select formControlName="idIdentificacion">
                <mat-option *ngFor="let type of typesId" [value]="type.idTipo">{{type.nombre}}</mat-option>
            </mat-select>
            <mat-error>
              <error-message [control]="form.idIdentificacion" nomCampo="Identificación"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>No. Identificaci&oacute;n</mat-label>
            <input matInput formControlName="noIdentificacion" type="text" />
            <mat-error>
              <error-message nomCampo="No. Identificación"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Tel&eacute;fono</mat-label>
            <input matInput formControlName="telefono" type="text" />
            <mat-error>
              <error-message nomCampo="Teléfono"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" />
            <mat-error>
              <error-message nomCampo="Email"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-checkbox formControlName="active" color="primary">Activo</mat-checkbox>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="!isListMode">
      <button class="form-button" (click)="onCancel()" color="warn" mat-fab extended>Cancelar</button>
      <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
  </mat-card-footer>
</mat-card>

<div class="table-container mat-elevation-z8" *ngIf="isListMode">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idEstatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.idEstatus === 1 ? 'Activo' : 'Inactivo' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tel&eacute;fono </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.telefono }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a (click)="onEditRepresentative(row)" mat-raised-button color="primary">Editar</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>