<mat-card>
  <mat-card-content *ngIf="isListMode">
    <a (click)="isListMode = !isListMode" class="float-left" color="primary" mat-fab extended>
      Nuevo
    </a>
    <div class="float-right">
      <mat-form-field class="table-filter" appearance="outline">
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!isListMode">
    <form [formGroup]="clientNotarialDataForm">
      <div class="form-container">
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="idNotarial" appCurrencyMask type="text" />
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Acta</mat-label>
            <input matInput formControlName="acta" type="text" />
            <mat-error>
              <error-message nomCampo="Acta"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Notaria</mat-label>
            <input matInput formControlName="notaria" type="text" />
            <mat-error>
              <error-message nomCampo="Notaria"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>De Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fNotaria" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <error-message [control]="form.fNotaria" nomCampo="De Fecha"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Notario</mat-label>
            <input matInput formControlName="notario" type="text" />
            <mat-error>
              <error-message nomCampo="Notario"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Lugar</mat-label>
            <input matInput formControlName="lugar" type="text" />
            <mat-error>
              <error-message nomCampo="Lugar"></error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-cell-3">
          <mat-checkbox formControlName="active" color="primary">Activo</mat-checkbox>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="!isListMode">
    <button class="form-button" (click)="onCancel()" color="warn" mat-fab extended>Cancelar</button>
    <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
  </mat-card-footer>
</mat-card>

<div class="table-container mat-elevation-z8" *ngIf="isListMode">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">
    <ng-container matColumnDef="acta">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acta </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.acta }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idEstatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.idEstatus === 1 ? 'Activo' : 'Inactivo' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notaria">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Notaria </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.notaria }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Notario </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.notario }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lugar">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lugar </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.lugar }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a (click)="onEditNotarialData(row)" mat-raised-button color="primary">Editar</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>