<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/secure/executives']" class="button-back" color="accent" mat-mini-fab>
                    <mat-icon>arrow_circle_left</mat-icon>
                </a>
                Gestión de ejecutivos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="executiveForm">
                <div class="form-container">
                    <div class="form-cell-3"><mat-form-field appearance="outline">
                            <mat-label>ID</mat-label>
                            <input matInput formControlName="idEjecutivo" appCurrencyMask type="text" />
                        </mat-form-field></div>
                    <div class="form-cell-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text" required />
                            <mat-error>
                                <error-message [control]="form.nombre" nomCampo="Nombre"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="telefono" type="text" required />
                            <mat-error>
                                <error-message [control]="form.telefono" nomCampo="Teléfono"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" type="text" required />
                            <mat-error>
                                <error-message [control]="form.email" nomCampo="Email"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-label>Tipo de Empleado</mat-label><br/>
                        <mat-checkbox formControlName="signatario" color="primary" >Signatario</mat-checkbox><br/>
                        <mat-checkbox formControlName="inspector" color="primary" >Verificador</mat-checkbox>
                    </div>
                    <div class="form-cell-3">
                        <mat-checkbox formControlName="active" color="primary">Activo</mat-checkbox>
                    </div>
                </div>
            </form>

            <div class="form-container">
                <div class="form-cell-3">
                    <span class="multiselect-list-section">
                        <mat-checkbox class="multiselect-margin" [checked]="allStandardsSelected" color="primary"
                            [indeterminate]="someStandardsSelected()" (change)="selectAllStandards($event.checked)">
                            Normas
                        </mat-checkbox>
                    </span>
                    <span class="multiselect-list-section">
                        <ul class="multiselect-list-ul">
                            <li *ngFor="let standard of standards">
                                <mat-checkbox [(ngModel)]="standard.selected" color="primary"
                                    (ngModelChange)="selectStandard()">
                                    {{standard.nombre}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
        </mat-card-footer>
    </mat-card>
</div>