<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/secure/users']" class="button-back" color="accent" mat-mini-fab>
                    <mat-icon>arrow_circle_left</mat-icon>
                </a>
                Nuevo usuario
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm">
                <div class="form-container">
                    <div class="form-cell-3"><mat-form-field appearance="outline">
                      <mat-label>Id</mat-label>
                      <input matInput formControlName="idUsuario" appCurrencyMask type="text" />
                    </mat-form-field></div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario" type="text" required/>
                            <mat-error>
                                <error-message nomCampo="Usuario"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="contrasena" type="password" required/>
                            <mat-error>
                                <error-message nomCampo="Contraseña"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text" required/>
                            <mat-error>
                                <error-message nomCampo="Nombre"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="form-container">
                <div class="form-cell-3">
                    <span class="multiselect-list-section">
                        <mat-checkbox class="multiselect-margin" [checked]="allScreensSelected" color="primary"
                                    [indeterminate]="someScreensSelected()" (change)="selectAllScreens($event.checked)">
                        Pantallas
                        </mat-checkbox>
                    </span>
                    <span class="multiselect-list-section">
                        <ul class="multiselect-list-ul">
                            <li *ngFor="let screen of screens">
                            <mat-checkbox [(ngModel)]="screen.selected" color="primary" (ngModelChange)="selectScreen()">
                                {{screen.pantalla}}
                            </mat-checkbox>
                            </li>
                        </ul>
                    </span>
                </div>
                <div class="form-cell-3">
                    <mat-checkbox [(ngModel)]="active" color="primary">Activo</mat-checkbox>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
          <button (click)="onSubmit()" mat-fab extended>Guardar</button>
        </mat-card-footer>
    </mat-card>
</div>