<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Gestión de dictamenes</mat-card-title>
      <a [routerLink]="['/secure/ruling/new']" class="button-new-header" color="primary" mat-stroked-button>
        Nuevo dictamen
      </a>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="searchForm" class="form-container">
        <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Fecha de dictamen</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input formControlName="fechaDel" matStartDate placeholder="Fecha Inicio">
              <input formControlName="fechaAl" matEndDate placeholder="Fecha Fin">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Servicio</mat-label>
            <mat-select formControlName="servicio">
              <mat-option value="-1">Todos</mat-option>
              <mat-option value="0">Constancia</mat-option>
              <mat-option value="1">Dictamen</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="cliente" placeholder="Cliente" #clientSelect>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Busca cliente"
                  noEntriesFoundLabel="No se encontraron resultados"
                  formControlName="clientFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let client of filteredClients | async" [value]="client.idCliente">
                {{client.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Pedimento</mat-label>
            <input matInput formControlName="pedimento" type="text" />
          </mat-form-field>
        </div>

        <div class="form-cell-2">
          <mat-form-field appearance="outline">
            <mat-label>De Folio</mat-label>
            <input matInput formControlName="solDel" type="text" />
          </mat-form-field>
        </div>

        <div class="form-cell-2">
          <mat-form-field appearance="outline">
            <mat-label>A Folio</mat-label>
            <input matInput formControlName="solAl" type="text" />
          </mat-form-field>
        </div>

        <div class="form-cell-3">
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option value="-1">Todos</mat-option>
              <mat-option value="0">Tipo 1</mat-option>
              <mat-option value="1">Tipo 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-cell-3">
            <mat-checkbox formControlName="constancias" color="primary">Constancias</mat-checkbox>
        </div>

        <div class="form-cell-3 list-form-section">
          <button class="form-button no-left-margin" color="primary" (click)="onSearch()" mat-fab extended>
            <mat-icon>search</mat-icon> Buscar
          </button>
          <button class="form-button no-left-margin" color="accent" type="reset" mat-fab extended>
            Limpia filtros
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">
      <ng-container matColumnDef="cliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.cliente }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dictamen">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Dictamen </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.dictamen }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="solicitud">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Solicitud </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.solicitud }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pedimento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pedimento </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.pedimento }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="estatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.estatus }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fDictamen">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de dictamen </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.fDictamen }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.tipo }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/secure/ruling/', row.idActa]" mat-raised-button color="primary">Editar</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>