<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/secure/officials']" class="button-back" color="accent" mat-mini-fab>
                    <mat-icon>arrow_circle_left</mat-icon>
                </a>
                Gestión de funcionarios
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="officialForm">
                <div class="form-container">
                    <div class="form-cell-3"><mat-form-field appearance="outline">
                      <mat-label>ID</mat-label>
                      <input matInput formControlName="idFuncionario" appCurrencyMask type="text" />
                    </mat-form-field></div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text" required/>
                            <mat-error>
                                <error-message [control]="form.nombre" nomCampo="Nombre"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Cargo</mat-label>
                            <input matInput formControlName="cargo" type="text" required/>
                            <mat-error>
                                <error-message [control]="form.cargo" nomCampo="Cargo"></error-message>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-cell-3">
                        <mat-checkbox formControlName="active" color="primary">Activo</mat-checkbox>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button class="form-button" (click)="onSubmit()" mat-fab extended>Guardar</button>
        </mat-card-footer>
    </mat-card>
</div>