<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/secure/receipts']" class="button-back" color="accent" mat-mini-fab>
          <mat-icon>arrow_circle_left</mat-icon>
        </a>
        Recibo Encabezado
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formReceipt">
        <div class="form-container">
          <div class="form-cell-4"><mat-form-field appearance="outline">
            <mat-label>Folio</mat-label>
            <input matInput formControlName="idRecibo" appCurrencyMask type="text" required />
            <mat-error>
              <error-message [control]="form.idRecibo" nomCampo="Folio"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-4"><mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="idCliente" required>
              <mat-option *ngFor="let client of clients" [value]="client.idCliente">{{client.nombre}}</mat-option>
            </mat-select>
            <mat-error>
              <error-message [control]="form.idCliente" nomCampo="Cliente"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-4"><mat-form-field appearance="outline">
            <mat-label>Almacen</mat-label>
            <mat-select formControlName="idBodega" required>
              <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.idBodega">{{warehouse.nombre}}</mat-option>
            </mat-select>
            <mat-error>
              <error-message [control]="form.idBodega" nomCampo="Almacen"></error-message>
            </mat-error>
          </mat-form-field></div>

          <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Contenedores</mat-label>
            <input matInput formControlName="contenedores" appCurrencyMask type="text" maxlength="100" required />
            <mat-error>
              <error-message [control]="form.contenedores" nomCampo="Contenedores"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Fecha Recibo</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fRecibo" required />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <error-message [control]="form.fRecibo" nomCampo="Fecha Recibo"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Pedimento</mat-label>
            <input matInput formControlName="pedimento" appCurrencyMask type="text" maxlength="50" />
          </mat-form-field></div>
          
          <div class="form-cell-3"><mat-form-field appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="observaciones" appCurrencyMask maxlength="255" ></textarea>
            <mat-error>
              <error-message [control]="form.observaciones" nomCampo="Observaciones"></error-message>
            </mat-error>
          </mat-form-field></div>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Detalle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formReceiptDetail" *ngIf="receipt.idEstatus === 1">
        <div class="form-container">
          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Articulo</mat-label>
              <mat-select formControlName="articulo" placeholder="Articulo" #articleSelect required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Busca articulo" noEntriesFoundLabel="No se encontraron resultados" formControlName="articuloFilter"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let article of filteredArticles | async" [value]="article.articulo">
                  {{article.articulo}}
                </mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.articulo" nomCampo="Articulo"></error-message>
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="form-cell-2"><mat-form-field class="mat-mdc-form-field-small" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="cantidad" appCurrencyMask type="text" required />
            <mat-error>
              <error-message [control]="form.cantidad" nomCampo="Cantidad"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-2">
            <mat-form-field appearance="outline">
              <mat-label>Bulto</mat-label>
              <mat-select formControlName="idUnidad" placeholder="Bulto" #unitSelect required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Busca bulto" noEntriesFoundLabel="No se encontraron resultados" formControlName="idUnidadFilter"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let bulto of filteredUnits | async" [value]="bulto.idUnidad">
                  {{bulto.nombre}}
                </mat-option>
              </mat-select>
              <mat-error>
                <error-message [control]="form.idUnidad" nomCampo="Bulto"></error-message>
              </mat-error>
            </mat-form-field></div>

          <div class="form-cell-2"><mat-form-field class="mat-mdc-form-field-small" appearance="outline">
            <mat-label>Piezas x Bulto</mat-label>
            <input matInput formControlName="pzasxBulto" appCurrencyMask type="text" required />
            <mat-error>
              <error-message [control]="form.pzasxBulto" nomCampo="Piezas x Bulto"></error-message>
            </mat-error>
          </mat-form-field></div>

          <div class="form-cell-2"><mat-form-field class="mat-mdc-form-field-small" appearance="outline">
            <mat-label>NT</mat-label>
            <input matInput formControlName="nt" appCurrencyMask type="text" />
          </mat-form-field></div>

          <div class="form-cell-2"><mat-form-field class="mat-mdc-form-field-small" appearance="outline">
            <mat-label>VM</mat-label>
            <input matInput formControlName="vm" appCurrencyMask type="text" />
          </mat-form-field></div>
          
          <div class="form-cell-5"><mat-form-field class="mat-mdc-form-field-large" appearance="outline">
            <mat-label>Detalle</mat-label>
            <input matInput formControlName="detalleArticulo" type="text" appCurrencyMask maxlength="100" required />
            <mat-error>
              <error-message [control]="form.detalleArticulo" nomCampo="Detalle"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-5"><mat-form-field class="mat-mdc-form-field-large" appearance="outline">
            <mat-label>Lote</mat-label>
            <input matInput formControlName="loteArticulo" type="text" appCurrencyMask maxlength="100"/>
            <mat-error>
              <error-message [control]="form.loteArticulo" nomCampo="Lote"></error-message>
            </mat-error>
          </mat-form-field></div>
          
          <div class="form-cell-1">
            <button (click)="onCancelEdit()" mat-fab extended color="warn" *ngIf="selectedDetail">Cancelar</button>
          </div>
          <div class="form-cell-1">
            <button type="button" (click)="onSubmitDetail()" mat-fab extended color="primary">{{!selectedDetail || selectedDetail.partida === 0 ? 'Agregar' : 'Guardar'}}</button>
          </div>
        </div>
      </form>

      <div *ngIf="receiptDetails.length === 0" class="error-message">
        *El recibo debe contener al menos un detalle
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="articulo">
          <th mat-header-cell *matHeaderCellDef>Articulo</th>
          <td mat-cell *matCellDef="let element"> {{element.articulo}} </td>
        </ng-container>
        <ng-container matColumnDef="partida">
          <th mat-header-cell *matHeaderCellDef>Partida</th>
          <td mat-cell *matCellDef="let element"> {{element.partida}} </td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="nombreUnidad">
          <th mat-header-cell *matHeaderCellDef>Bulto</th>
          <td mat-cell *matCellDef="let element"> {{element.nombreUnidad}} </td>
        </ng-container>
        <ng-container matColumnDef="detalleArticulo">
          <th mat-header-cell *matHeaderCellDef>Detalle</th>
          <td mat-cell *matCellDef="let element"> {{element.detalleArticulo}} </td>
        </ng-container>
        <ng-container matColumnDef="loteArticulo">
          <th mat-header-cell *matHeaderCellDef>Lote</th>
          <td mat-cell *matCellDef="let element"> {{element.loteArticulo}} </td>
        </ng-container>
        <ng-container matColumnDef="pzasxBulto">
          <th mat-header-cell *matHeaderCellDef>Piezas x Bulto</th>
          <td mat-cell *matCellDef="let element"> {{element.pzasxBulto}} </td>
        </ng-container>
        <ng-container matColumnDef="nt">
          <th mat-header-cell *matHeaderCellDef>NT</th>
          <td mat-cell *matCellDef="let element"> {{element.nt}} </td>
        </ng-container>
        <ng-container matColumnDef="vm">
          <th mat-header-cell *matHeaderCellDef>VM</th>
          <td mat-cell *matCellDef="let element"> {{element.vm}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="receipt.idEstatus === 1 && !selectedDetail" mat-mini-fab matTooltip="Editar" color="primary" (click)="editDetail(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="receipt.idEstatus === 1" mat-mini-fab matTooltip="Eliminar" color="warn" (click)="showConfirmDeleteDialog(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <button *ngIf="receipt.idEstatus === 1" (click)="onSubmit()" mat-fab extended>Guardar Recibo</button>
    </mat-card-footer>
  </mat-card>
    
</div>