<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Recibos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-container">
      <a [routerLink]="['/secure/receipt-new']" matTooltip="Agregar" color="primary" mat-fab extended>
        Agregar
      </a>
      <button matTooltip="Exportar" class="export-excel" (click)="exportAsXLSX()" mat-fab extended>
        <mat-icon>get_app</mat-icon> Exportar
      </button>
      <upload-button accept=".xlsx, .xlsx" buttonTitle="Importar" (fileChange)="submitFile($event)"></upload-button>
      <div class="warehouse-container">
      <mat-form-field appearance="outline">
        <mat-label>Almacen</mat-label>
        <mat-select [formControl]="warehouseControl" required>
          <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.idBodega">{{warehouse.nombre}}</mat-option>
        </mat-select>
        <mat-error>
          <error-message [control]="warehouseControl" nomCampo="Almacen"></error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Cliente</mat-label>
        <mat-select [formControl]="clientControl" required>
          <mat-option *ngFor="let client of clients" [value]="client.idCliente">{{client.nombre}}</mat-option>
        </mat-select>
        <mat-error>
          <error-message [control]="clientControl" nomCampo="Cliente"></error-message>
        </mat-error>
      </mat-form-field>
    </div>
      <div class="search-box">
        <mat-form-field class="table-filter" appearance="outline">
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
    
  <div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 box-shadow">  
      <ng-container matColumnDef="idRecibo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.idRecibo }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="recibo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Recibo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.recibo }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombreBodega">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Almacen </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.nombreBodega }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombreCliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.nombreCliente }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="fCapturaFormato">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.fCapturaFormato }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="pedimento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pedimento </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.pedimento }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombreEstatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.nombreEstatus }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/secure/receipt-detail/', row.idRecibo]" mat-raised-button color="accent">{{row.idEstatus !== 1 ? 'Ver' : 'Editar'}}</a>&nbsp;
          <button mat-raised-button color="warn" [disabled]="row.idEstatus !== 1" (click)="showConfirmDialog(row.idRecibo, 3)">Eliminar</button>&nbsp;
          <button mat-raised-button color="primary" [disabled]="row.idEstatus !== 1" (click)="showConfirmDialog(row.idRecibo, 2)">Autorizar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ selected: row === selectedRow.selected[0] }"></mat-row>
      <!--mat-row style="justify-content: center;" *matFooterRowDef="['noData']" [ngClass]="{ hide: dataSource != null }"></mat-row-->
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>